body{
	margin: 0px;
	padding: 0px;

}
div.primary{
	background-image: url("../img/Fondo2.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	width: 100%;
	height: 650px;
	text-align: center;
	background-color: #464646;
	border-bottom: 3px solid white;
}

div.primary div.icon-google-play{
	position: relative;
	top: 430px;
	left: 30px;
	display: inline-block;
}
div.primary div.icon-google-play a img{
	height: 50px;
	width: 200px;
	display: inline-block;
}

/*/////////*/
@media (max-width: 1200px) { 
	body{
		margin: 0px;
		padding: 0px;		
	}
	div.primary{
	}
	div.primary div.icon-google-play{
		position: relative;
		top: 360px;
	    }
    div.primary div.icon-google-play a img{
		
	    }
 }


/*/////////*/
@media (max-width: 1024px) { 
	body{
		margin: 0px;
		padding: 0px;		
	}

	div.primary{
		background-image: url("../img/FondoSmall2.png");
		height: 1300px;
	}
	div.primary div.icon-google-play{
		position: relative;
		top: 800px;
		left: 10px;	

	    }
    div.primary div.icon-google-play a img{
		
		display: inline-block;
	    }

 }

/*/////////*/
@media (max-width: 780px) { 
	body{
		margin: 0px;
		padding: 0px;
		height: 600px;		
	}

	div.primary{
		background-image: url("../img/Fondo3.png");
		height:580px;
	}
	div.primary div.icon-google-play{
		position: relative;
		top: 380px;
		left: 10px;	

	    }
    div.primary div.icon-google-play a img{
		height: 40px;
		width: 120px;
		display: inline-block;
	    }

 }

/**/
@media (max-width: 540px) { 
	body{
		margin: 0px;
		padding: 0px;	
	}
	div.primary{
		background-image: url("../img/FondoSmall.png");
		height: 620px;

	}
	div.primary div.icon-google-play{
		position: relative;
		top: 400px;
		left: 10px;	
	    }
    div.primary div.icon-google-play a img{
		height: 40px;
		width: 120px;
		display: inline-block;
	    }
 }

 @media (max-width: 500px) { 
	body{
		margin: 0px;
		padding: 0px;	
		height: 500px;
	}
	div.primary{
		background-image: url("../img/FondoSmall.png");
		height: 510px;

	}
	div.primary div.icon-google-play{
		position: relative;
		top: 320px;
		left: 10px;	
	    }
    div.primary div.icon-google-play a img{
		height: 30px;
		width: 100px;
		display: inline-block;
	    }

 }
